POSTGRES_DB=axetos_market_data
POSTGRES_USER=axetos
POSTGRES_PASSWORD=replace-with-a-long-random-password
AXETOS_PORT=8000

AXETOS_AUTH_ENABLED=false
AXETOS_VIEWER_TOKEN=
AXETOS_OPERATOR_TOKEN=
AXETOS_ADMIN_TOKEN=
AXETOS_BRIDGE_TOKEN=

AXETOS_ALERT_WEBHOOK_URL=
AXETOS_ALERT_MIN_SEVERITY=error
